/*GLOBAL*/

html {
  overflow-y: scroll;
}

body {
  font-size: 13px;
  background-color: #fff;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #3d464d;
}

a {
  color: #2895F1;
  cursor: pointer;
}

a:hover {
  color: #2895F1;
}

.btn-dropbox {
  background-color: #0070E0;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 16px;
  line-height: 32px;
  border: 0px;
}

.btn-dropbox:hover {
  background-color: #007AF5;
  border: 0px;
}

.btn-dropbox:focus { 
  background-color: #005DD6;
  border: 0px;
}

.btn-dropbox:active { 
  background-color: #005DD6;
  border: 0px;
}

.btn-dropbox-default {
  font-size: 14px;
  font-weight: 500;
  padding: 0px 16px;
  line-height: 32px;
}

/*LANDING PAGE*/

.landing-page header {
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  height: 76px;
  z-index: 99;
  font-size: 0;
  background-color: #fff;
  border-bottom: 1px solid #d0d4d9;
  -webkit-box-shadow: 0px 1px 1px #d0d4d9;
  box-shadow: 0px 1px 1px #d0d4d9;
  line-height: 26px;
}

.landing-page .page-content {
  text-align: center;
  min-height: 425px;
  padding-bottom: 50px;
}

.landing-page .page-content .page-inner-content {
  padding-top: 126px;
}

.landing-page .page-content .form-container {
  width: 350px;
  display: inline-block;
  vertical-align: middle;
}

.landing-page .page-content .form-container .error {
  color: #e82110;
  font-size: 12px;
  float: left;
}

.landing-page .page-content .form-container .signin-form {

}

.landing-page .page-content .form-container .signin-form .form-header {
  margin-bottom: 30px;
}

.landing-page .page-content .form-container .signin-form .form-header .title {
  font-size: 18px;
  margin: 0px;
  text-align: left;
}

.landing-page .page-content .form-container .signin-form .form-header .subscript {
  text-align: right;
  margin: 0px;
}

.landing-page .page-content .form-container .signin-form .form-body {

}

.landing-page .page-content .form-container .signin-form .form-body .form-group {
  margin-bottom: 30px;
}

.landing-page .page-content .form-container .signin-form .form-body .form-group.btn-container {
  margin-bottom: 0px;
  text-align: right;
}

.landing-page .page-content .form-container .signup-form {

}

.landing-page .page-content .form-container .signup-form .form-header {
  margin-bottom: 30px;
}

.landing-page .page-content .form-container .signup-form .form-header .title {
  font-size: 18px;
  margin: 0px;
  text-align: left;
}

.landing-page .page-content .form-container .signup-form .form-header .subscript {
  text-align: right;
  margin: 0px;
}

.landing-page .page-content .form-container .signup-form .form-body {

}

.landing-page .page-content .form-container .signup-form .form-body .form-group {
  margin-bottom: 30px;
}

.landing-page .page-content .form-container .signup-form .form-body .form-group.btn-container {
  margin-bottom: 0px;
  text-align: right;
}

/*DASHBOARD*/
.dashboard-page {

}

.dashboard-page .page-content {
  min-height: 425px;
}

.dashboard-page .page-content header {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #fff;
  padding: 40px 40px 0 40px;
  height: 96px;
  z-index: 5;
}

.dashboard-page .page-content header .topnav-container {
  float: right;
}

.dashboard-page .page-content .inner-page-content {
  padding-top: 96px;
}

.dashboard-page .page-content .inner-page-content .empty-page-msg {
  text-align: center;
  margin: 30px 0px;
}

.dashboard-page .page-content .inner-page-content.has-right-content {
  display: flex;
}

.dashboard-page .page-content .inner-page-content .right-content {
  width: 240px;
  padding-right: 40px;
  flex: 0 0 240px;
}

.dashboard-page .page-content .inner-page-content .right-content .right-content-inner {
  position: fixed;
  right: 40px;
  width: 200px;
  z-index: 4;
  padding-top: 40px;
}

.dashboard-page .page-content .inner-page-content .right-content .right-content-inner .input-file-wrapper {
  display: block; 
  width: 100%; 
  height: 32px; 
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.dashboard-page .page-content .inner-page-content .right-content .right-content-inner .input-file-wrapper:hover .btn-main {
  background-color: #007AF5;
}

.dashboard-page .page-content .inner-page-content .right-content .right-content-inner .input-file-wrapper:active .btn-main {
  background-color: #005DD6;
  border: 0px;
}

.dashboard-page .page-content .inner-page-content .right-content .right-content-inner .input-file-wrapper:focus .btn-main {
  background-color: #005DD6;
  border: 0px;
}

.dashboard-page .page-content .inner-page-content .right-content .right-content-inner .input-file-wrapper .btn-main {
  position: relative; 
  width: 100%;
}

.dashboard-page .page-content .inner-page-content .right-content .right-content-inner .input-file-wrapper input[type=file] {
  cursor: pointer;
  font-size: 23px;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  position: absolute;
  right: 0;
  top: 0;
}


/*FILESPAGE*/

.dashboard-page .page-content .filespage {
  padding-left: 40px;
  padding-right: 40px;
  flex: 1;
  min-width: 320px;
} 

.dashboard-page .page-content .filespage .page-header {
  margin: 0;
  padding: 0px;
  font-weight: 400;
  line-height: 40px;
  height: 40px;
  font-size: 12px;
  color: #637282;
  border-bottom: solid 1px #E6E8EB;
}

.dashboard-page .page-content .filespage .page-header h4{
  margin: 0px;
}

/*ITEM ROW*/

.dashboard-page .page-content .item-row {
  background-color: transparent;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #E6E8EB;
  height: 64px;
  padding: 0;
}

.dashboard-page .page-content .item-row .item-icon {
  padding: 12px;
  text-align: center;
}

.dashboard-page .page-content .item-row .item-icon i {
  width: 40px;
  height: 40px;
  color: #71B9F4;
}

.dashboard-page .page-content .item-row .item-content {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  text-align: left;
  overflow: hidden;
}

.dashboard-page .page-content .item-row .item-content .item-title {
  display: block;
  margin: 0px;
  font-weight: 400;
  color: #1B2733;
  font-size: 14px;
  line-height: normal;
  text-align: left;
  flex: 1 1 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.dashboard-page .page-content .item-row .item-content .item-title:hover {
  color: #0070E0;
}

.dashboard-page .page-content .item-row .item-content .item-star {
  display: flex;
}

.dashboard-page .page-content .item-row .item-content .item-star button {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: 0;
  width: auto;
  overflow: visible;
  border-style: solid;
  outline: 0;
}

.dashboard-page .page-content .item-row .item-content .item-star button.not-star {
  opacity: 0;
}

.dashboard-page .page-content .item-row:hover .item-content .item-star button.not-star {
  opacity: 1;
}

.dashboard-page .page-content .item-row .item-content .item-star button i {
  width: 32px;
  color: #0070E0;
}

.dashboard-page .page-content .item-row .item-options {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  font-size: 14px;
  color: #1B2733;
  margin-left: 10px;
  width: 33px;
  height: 34px;
}    

.dashboard-page .page-content .item-row .item-options .dropdown {
  list-style: none;
}

.dashboard-page .page-content .item-row .item-options .dropdown .dropdown-toggle {
  text-decoration: none;
}

.dashboard-page .page-content .item-row .item-options .dropdown .dropdown-toggle .btn {
  background: none;
  border: 1px solid transparent;
  color: #637282;
  border-radius: 4px;
  padding: 0px 10px;
  text-align: center;
  box-shadow: none;
}

.dashboard-page .page-content .item-row:hover .item-options .dropdown .dropdown-toggle .btn {
  border: 1px solid #C1C7CD;
}

.dashboard-page .page-content .item-row .item-options .dropdown .dropdown-toggle .btn:hover {
  border: 1px solid #007AF5;
  color: #007AF5;
}

.dashboard-page .page-content .item-row .item-options .dropdown .dropdown-toggle .caret {
  display: none;
}

.dashboard-page .page-content .item-row .item-options .dropdown.open .dropdown-menu {
  right: 0px;
  left: auto;
  padding: 0px;
  display: inline-block;
  box-sizing: inherit;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  min-width: 160px;
  background-color: #FFF;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16), 0 8px 16px rgba(27, 39, 51, 0.08);
  border-radius: 4px;
  outline: none;
  border: 0px;
}

.dashboard-page .page-content .item-row .item-options .dropdown.open .dropdown-menu li:focus {
  outline: none;
}

.dashboard-page .page-content .item-row .item-options .dropdown.open .dropdown-menu li a {
  padding: 9px 16px;
  outline: none;
} 